/* Ensure only the card is printed */
@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .card-add {
        display: none;
    }

    .display-only {
        display: none;
    }

    .card {
        background-color: #000;
    }

    @page {
        margin: 1cm 0;
    }
}